%form.form-stacked{:action=>"/login", :method=>"post", :style=>"text-align: center"}
  %fieldset
    .clearfix
      %h3
        Your Token
      .input
        %input.bigger{:name => "token", :style => "text-align: center"}
    %input.btn.large.primary{:type => "submit", :value => "Submit"}

%form.form-stacked{:action=>"/guestmode", :method=>"post", :style=>"text-align: center"}
  %fieldset
    .clearfix
    %input.btn.large.primary{:type => "submit", :value => "Guest Access"}

%form.form-stacked{:action=>"/dismiss", :method=>"post", :style=>"text-align: center"}
  %fieldset
    .clearfix
    %input.btn.large.primary{:type => "submit", :value => "Dismiss Dialog"}

