!!!
%html
  %head
    %title Access Tokens
    <link href="/stylesheets/bootstrap-1.3.0.min.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/oomph-authenticator-0.2.js" type="text/javascript"></script>
  %body
    .container
      .content
        .page-header
          %h1 Login
        - if flash[:info]
          %p.alert-message.info= flash[:info]
        - if flash[:error]
          %p.alert-message.error{ "data-alert" => true }= flash[:error]
        = yield
:javascript
  $(".alert-message").alert()
