%div{:style => "text-align: center"}
  Thanks.

:javascript
  //Oomph.register_unlock(#{@encoded.to_json}); //full unlock
  Oomph.register_subscription(#{@encoded.to_json}, new Date(), new Date((new Date()).getTime() + 30 * 60000)); // JavaScript Date objects
  //Oomph.register_subscription(#{@encoded.to_json}, 1355786745351, 1355796745351);  // numeric milliseconds
  //Oomph.register_subscription(#{@encoded.to_json}, 1355786745, 1355796745); //numeric seconds
  Oomph.dismiss_authenticator_dialog(10);